<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/styles.css'/>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<a href="{{url_for('game_options')}}">Back</a>
<div class="player_hand">
        {%for card in library%}
        <button class="card_in_library" id={{card.card_id}} name={{card.name_for_html}}>
            M:<span class="mana_cost">{{card.mana_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            <img src="static/cards/{{ card.img_url }}" class="image_card_in_library"/><br>
            <span class="creature_name">{{card.name}}</span><br>
            ---------------------<br>
            <span class="description_in_library">{{card.description}}</span><br>
            {%if card.card_type=="Creature"%}
            ---------------------<br>
            <span class="attack_hp">A:{{card.attack}}  H:{{card.hp}}</span>
            {%endif%}
        </button>
        {%endfor%}
    </div>
</body>
</html>