<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/styles.css'/>
    <meta charset="UTF-8">
    <title>Empire choice</title>
</head>
<body>
<form action="/send_empire" method="post">
<p>Pick your Empire:</p>
    <select id="your_empire" name="your_empire">
        <option value="Byzantine_Empire">Byzantine Empire</option>
        <option value="Holy_Roman_Empire">Holy Roman Empire</option>
        <option value="Mongol_Empire">Mongol Empire</option>
    </select>
<button>Create deck</button>
</form>
</body>
</html>