<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/styles.css'/>
    <meta charset="UTF-8">
    <title>Empire choice</title>
</head>
<body>
<form action="/send_empire" method="post">
    <p>Pick your Empire:</p>
    <select id="your_empire" name="your_empire">
        <option value="Byzantine_Empire">Byzantine Empire</option>
        <option value="Holy_Roman_Empire">Holy Roman Empire</option>
        <option value="Mongol_Empire">Mongol Empire</option>
        <option value="Mesopotamia_Empire">Mesopotamia Empire</option>
    </select>
    <button>Create deck</button>
</form>
<details>
    <p>The Byzantine Empire, also referred to as the Eastern Roman Empire, was the continuation of the Roman Empire
        primarily in its eastern
        provinces during Late Antiquity and the Middle Ages, when its capital city was Constantinople.<br> It survived
        the
        fall of the Western Roman Empire in the 5th century AD and continued to exist until the fall of Constantinople
        to the Ottoman Empire in 1453.<br>

        Because of the Economic Resources:<br>
        The Byzantine Empire, particularly during periods of relative stability, had access to significant economic
        resources.<br> The wealth generated through trade, taxation, and other economic activities provided the
        financial
        means to maintain a standing army, fortify key strategic points, and fund military campaigns.<br>
        Fortifications:<br>
        The Byzantine Empire invested in extensive fortifications to protect its borders and key cities. Cities like
        Constantinople were fortified with formidable walls and defensive structures, making them difficult to
        conquer.<br>
        {%for card in library[0]%}
        <button class="card_in_library" id={{card.card_id}} name={{card.name_for_html}}>
            <span style="display:flex">
            M:<span class="mana_cost">{{card.mana_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            <img src="static/cards/{{ card.img_url }}" class="image_card_in_library"/><br>
             </span>
            <span class="creature_name">{{card.name}}</span><br>
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="description_in_library">{{card.description}}</span><br>
            {%if card.card_type=="Creature"%}
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="attack_hp">A:{{card.attack}} {{card.category}} H:{{card.hp}}</span>
            {%endif%}
        </button>
        {%endfor%}
    </p>
    <summary>Byzantine Empire</summary>
</details>
<details>
    <p>The Mongol Empire of the 13th and 14th centuries was the largest contiguous empire in history. Originating in
        present-day Mongolia in East Asia, the Mongol Empire at its height stretched from the Sea of Japan to parts of
        Eastern Europe, extending northward into parts of the Arctic; eastward and southward into parts of the Indian
        subcontinent, attempted invasions of Southeast Asia, and conquered the Iranian Plateau; and westward as far as
        the Levant and the Carpathian Mountains.<br>
        Cavalry Dominance:<br>
        The Mongols were renowned for their skilled and highly mobile cavalry. The majority of the Mongol army consisted
        of mounted warriors who were adept at hit-and-run tactics, swift maneuvering, and long-range archery. The
        mobility of the cavalry allowed the Mongols to cover vast distances quickly and launch surprise attacks.<br>

        Incentives for Warriors:<br>
        Mongol warriors were motivated by the promise of plunder and spoils of war. Successful military campaigns
        offered opportunities for wealth and social advancement. The Mongol military system had a meritocratic aspect,
        where warriors could rise through the ranks based on their achievements in battle.<br>
        {%for card in library[2]%}
        <button class="card_in_library" id={{card.card_id}} name={{card.name_for_html}}>
            <span style="display:flex">
            M:<span class="mana_cost">{{card.mana_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            <img src="static/cards/{{ card.img_url }}" class="image_card_in_library"/><br>
             </span>
            <span class="creature_name">{{card.name}}</span><br>
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="description_in_library">{{card.description}}</span><br>
            {%if card.card_type=="Creature"%}
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="attack_hp">A:{{card.attack}} {{card.category}} H:{{card.hp}}</span>
            {%endif%}
        </button>
        {%endfor%}
    </p>
    <summary>Mongols Empire</summary>
</details>
<details>
    <p>The Holy Roman Empire, also known as the Holy Roman Empire of the German Nation after 1512, was a polity in
        Central and Western Europe, usually headed by the Holy Roman Emperor. It developed in the Early Middle Ages
        and lasted for almost 1000 years until its dissolution in 1806 during the Napoleonic Wars.<br>
        Religious Motivation:<br>
        The Holy Roman Empire, as the name suggests, had a close relationship with the Catholic Church. Religious
        motivations played a role in mobilizing armies, particularly during the Crusades. The promise of spiritual
        rewards and support from the Church could encourage the raising of armies for both defensive and offensive
        campaigns.<br>
        Emperor's Authority:<br>
        The authority of the Holy Roman Emperor over his vast realm varied. During certain periods, strong emperors were
        able to exert more centralized control, enabling them to raise larger and more cohesive armies. However, at
        other times, the empire experienced periods of fragmentation and internal conflict.<br>
        {%for card in library[1]%}
        <button class="card_in_library" id={{card.card_id}} name={{card.name_for_html}}>
            <span style="display:flex">
            M:<span class="mana_cost">{{card.mana_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            <img src="static/cards/{{ card.img_url }}" class="image_card_in_library"/><br>
             </span>
            <span class="creature_name">{{card.name}}</span><br>
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="description_in_library">{{card.description}}</span><br>
            {%if card.card_type=="Creature"%}
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="attack_hp">A:{{card.attack}} {{card.category}} H:{{card.hp}}</span>
            {%endif%}
        </button>
        {%endfor%}
    </p>
    <summary>Holy Roman Empire Empire</summary>
</details>
<details>
    <p>The prehistory of the Ancient Near East begins in the Lower Paleolithic period. Therein, writing emerged with a
        pictographic script, Proto-cuneiform, in the Uruk IV period (c. late 4th millennium BC). <br>
        The documented record of actual historical events — and the ancient history of lower Mesopotamia — commenced in
        the early-third millennium BC with cuneiform records of early dynastic kings. This entire history ends with
        either the arrival of the Achaemenid Empire in the late 6th century BC or with the Muslim conquest and the
        establishment of the Caliphate in the late 7th century AD, from which point the region came to be known as Iraq.
        In the long span of this period, Mesopotamia housed some of the world's most ancient highly developed, and
        socially complex states.<br>

        The region was one of the four riverine civilizations where writing was invented, along with the Nile valley in
        Ancient Egypt, the Indus Valley civilization in the Indian subcontinent, and the Yellow River in Ancient China.
        Mesopotamia housed historically important cities such as Uruk, Nippur, Nineveh, Assur and Babylon, as well as
        major territorial states such as the city of Eridu, the Akkadian kingdoms, the Third Dynasty of Ur, and the
        various Assyrian empires.<br> Some of the important historical Mesopotamian leaders were Ur-Nammu (king of Ur),
        Sargon of Akkad (who established the Akkadian Empire), Hammurabi (who established the Old Babylonian state),
        Ashur-uballit I and Tiglath-Pileser I (who established the Assyrian Empire).<br>

        Scientists analysed DNA from the 8,000-year-old remains of early farmers found at an ancient graveyard in
        Germany. They compared the genetic signatures to those of modern populations and found similarities with the DNA
        of people living in today's Turkey and Iraq.<br>
        {%for card in library[3]%}
        <button class="card_in_library" id={{card.card_id}} name={{card.name_for_html}}>
            <span style="display:flex">
            M:<span class="mana_cost">{{card.mana_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
            <img src="static/cards/{{ card.img_url }}" class="image_card_in_library"/><br>
             </span>
            <span class="creature_name">{{card.name}}</span><br>
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="description_in_library">{{card.description}}</span><br>
            {%if card.card_type=="Creature"%}
            <span style="font-size:7px">----------------------------------------------------------------------------</span><br>
            <span class="attack_hp">A:{{card.attack}} {{card.category}} H:{{card.hp}}</span>
            {%endif%}
        </button>
        {%endfor%}
    </p>
    <summary>Mesopotamia Empire</summary>
</details>
</body>
</html>