<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle Resource</title>
</head>
<body>
<a href="{{url_for('rules')}}">Rules</a>
<a href="{{url_for('show_library')}}">Library</a>
<form action="/play" method="post">
    <p>Pick your name:</p>
    <input id="player1" name="player1"/>
    <p>Pick your opponent:</p>
    <select id="player2" name="player2">
        <option value="Bot">BOT</option>
        <option value="Test">Test</option>
    </select>
    <p>Pick your deck:</p>
    <select id="deck_player1" name="deck_player1">
        <option value="integration_deck">Integration Deck</option>
        <option value="demo_deck">Demo Deck</option>
        <option value="bot_deck">Bot Deck</option>
        <option value="test_deck">Test Deck</option>
        <option value="integration_deck_opponent">Integration Deck Opponent</option>
        <option value="knight_deck_official">Knights deck official</option>
        <option value="integration_deck_official">integration_deck official</option>
    </select>
    <p>Pick your opponent deck:</p>
    <select id="deck_player2" name="deck_player2">
        <option value="integration_deck">Integration Deck</option>
        <option value="demo_deck">Demo Deck</option>
        <option value="bot_deck">Bot Deck</option>
        <option value="test_deck">Test Deck</option>
        <option value="integration_deck_opponent">Integration Deck Opponent</option>
        <option value="knight_deck_official">Knights deck official</option>
    </select>
    <p>Pick difficulty:</p>
    <select id="difficulty" name="difficulty">
        <option value="easy">Easy</option>
        <option value="normal">Normal</option>
        <option value="hard">Hard</option>
        <option value="insane">Insane</option>
    </select>
    <button>Start Game</button>
</form>
</body>
</html>